package ${package}.controller;

import ${package}.entity.${className}Entity;
import ${package}.service.${className}Service;

import ${mainPath}.common.utils.PageUtils;
import ${mainPath}.common.utils.R;
import ${mainPath}.common.validator.ValidatorUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import java.util.Arrays;
import java.util.Map;

/**
* ${comments}
 * @author ${author}
 * @email ${email}
 * @datetime ${datetime}
*/
@RestController
@RequestMapping("${pathName}")
public class ${className}Controller {
    @Autowired
    private ${className}Service ${classname}Service;

    @RequestMapping("/list")
    public R list(@RequestParam Map<String, Object> params) {
        PageUtils page = ${classname}Service.queryPage(params);
        return R.success().put("data", page);
    }

    @RequestMapping("/info/{${pk.attrname}}")
    public R info(@PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname}) {
        ${className}Entity ${classname} = ${classname}Service.selectById(${pk.attrname});
        return R.success().put("data", ${classname});
    }

    @RequestMapping("/save")
    public R save (@RequestBody ${className}Entity ${classname}) {
        ${classname}Service.insert(${classname});
        return R.success();
    }

    @RequestMapping("/update")
    public R update ( @RequestBody ${className}Entity ${classname}) {
        ValidatorUtils.validateEntity(${classname});
        ${classname}Service.updateAllColumnById(${classname});
        return R.success();
    }

    @RequestMapping("/delete")
    public R delete (@RequestBody ${pk.attrType}[] ${pk.attrname}s) {
        ${classname}Service.deleteBatchIds(Arrays.asList(${pk.attrname}s));
        return R.success();
    }
}
